

body
{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif !important;

}
.thumbnail {
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}
.tieude{
    background-color: #ef7373;
    text-transform: uppercase;
}

.dw-user-box{
    text-align: center !important;
}
.modal .tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

/* Style the close button */
.topright {
  float: right;
  cursor: pointer;
  font-size: 28px;
}

.topright:hover {color: red;}



.top_1 {
     background-color: white;
    border-bottom: 1px solid;
    box-shadow: 0 0 0 1px rgba(63,63,68,.05), 0 1px 3px 0 rgba(63,63,68,.15);
    color: black;
    padding-left: 20px;
    padding-top: 10px;
}
.top_2 {
  background-color: white;
    box-shadow: 0 0 0 1px rgba(63,63,68,.05), 0 1px 3px 0 rgba(63,63,68,.15);
    color: black;
    padding-left: 20px;
    padding-top: 10px;
}
.dt-buttons .dt-button {
    padding: 5px 15px;
    border-radius: 4px;
    background: #ffffff !important;
    color: #fff;
    margin-right: 3px;
}




.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
.table td {
  border-bottom: 1px solid !important;
}

.mailbox .message-center{
  height: auto !important;
}

.tongquan{
  background-color: white;
    padding: 10px;
}
.khung{
  height: 136px;
    border-radius: 10px;
    border: 1px solid;
    text-align: center;
    padding-top: 36px;
}
.chunk {
  margin-left: 56px;
}
.chunk p {
  margin-bottom: 0rem !important;
}
.nk {
  background-color: white;
    padding: 10px;
}
.ctnk {
      border-bottom: 1px solid;
}




/* Extra styles for the cancel button */
.dt .cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */
.dt .imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}


.dt .container {
  margin-top: 18px;
}

.dt span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.dt .modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.dt .modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 40%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.dt .close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.dt .close:hover,
.dt .close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.dt .animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

.selection{
      margin:40px 0;
    }
.text{
      display: none;
    }
.open{
      display: block;
    }

